<div id="table-preview-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="modal-table-name">Table Preview</h3>
            <button class="btn-icon-small" onclick="Modal.close()" title="Close">
                <i data-lucide="x" class="icon icon-md"></i>
            </button>
        </div>
        <div class="modal-body">
            <div id="modal-loading" class="modal-loading" style="display: none;">
                <p>Loading table data...</p>
            </div>
            <div id="modal-table-content" class="modal-table-content"></div>
        </div>
    </div>
</div>


